.price {
	background: #222;
}

.member-levels {
	@include outer-container;
	.member {
		font-family: $heading-font;
		font-size: em(20);
		text-transform: uppercase;
		text-align: center;
		margin-bottom:0;
		@media screen and (min-width: 800px) {
			font-size: em(30);
		}
		&.silver {
			color: #CCCCCC;
		}
		&.gold {
			color: #F5CB6F;
			margin-top: em(40);
		}
	}
	.price-table {
		@include span-columns(12);
		padding: em(20);
		padding-top: 0;
		float: none;
		overflow: hidden;
		@media screen and (min-width: 800px) {
			padding: em(50);
		}
		.price-row {
			background: #333;
			border-top: 10px solid #222;
			@include span-columns(12);
			.type {
				color: $grey;
				text-align: center;
				font-size: em(24);
				padding: em(10);
				width: 100%;
				@media screen and (min-width: 800px) {
					@include span-columns(7);
				}
				small {
					color: darken($grey, 20%);
					text-align: right;
				}
			}
			.cost {
				color: $primary-color;
				text-align: center;
				font-weight: 100;
				font-size: em(30);
				padding: em(20);
				width: 100%;
				background-image: -webkit-linear-gradient(135deg, #4b4b4b 0%, #4b4b4b 50%, #444 50%);
				background-image: -moz-linear-gradient(135deg, #4b4b4b 0%, #4b4b4b 50%, #444 50%);
				background-image: -o-linear-gradient(135deg, #4b4b4b 0%, #4b4b4b 50%, #444 50%);
				background-image: linear-gradient(135deg, #4b4b4b 0%, #4b4b4b 50%, #444 50%);
				@media screen and (min-width: 800px) {
					@include span-columns(5);
				}
				&.promo {
					font-size: em(36);
				}
			}
		}
	}
}

.corporate-wellness {
	font-size: em(20);
	font-weight: 100;
	color: $grey;
	text-align: center;
	padding-bottom: em(20);
	@media screen and (min-width: 800px) {
		font-size: em(30);
	}
}