.tumblr-feed {
	background-color: $pale-green;
	display:block;
	position:relative;
    min-width:100%;
    padding: em(50) 0;
	overflow: hidden;
	@media screen and (min-width: 600px) {
		padding: em(100) 0;
	}
    .tumblr_posts {
    	padding: 0;
    	list-style-type: none;
		margin:0 auto;
    	.tumblr_title {
    		font-weight: 700;
    		text-transform: uppercase;
			font-family: $heading-font;
			padding: em(10) 0;
			font-size: em(30);
			margin: em(10) 0 0 0;
    	}
    	.tumblr_body {
    		font-family: $body-font;
    		img {
    			display: none;
    			// max-height: 200px;
    			// padding-right: em(10);
    		}
    	}
    }
    .button-container {
    	text-align: right;
    }
}