
$green:				#8DC449;
$blue:				#33ACE0;
$purple:			#65318F;
$red:				#BF2932;
$gold:				#DEAD44;
$silver:			#EDEFF0;
$bronze:			#98845A;

$primary-color:		$green;
$secondary-color:	$gold;
$grey:				#888888;
$dark-grey:			#444;
$pale-green:		#DDEDC8;

$link-color:		$primary-color;
$dark-link-color:	$dark-grey;

$dark-border: 		#4D4D4D;


$heading-font:		"brandon-grotesque",sans-serif;;
$body-font:			'Open Sans', 'Helvetica Neue', Helvetica;
$fancy-font:		'Baskerville';


$card-border-color: 	#ddd;
$card-border: 1px solid $card-border-color;
$card-background: lighten($card-border-color, 10);
$card-header-background: #444;
$card-hover-background: lighten($card-background, 5);
$card-image-background: #DBD199;
$card-image-hover-background: lighten($card-image-background, 5);
$card-stats-color: lighten($card-border-color, 10);
$ribbon-size: 100px;
$ribbon-background: $primary-color;

*, header {
	@include box-sizing(border-box);
}

a,a:link {
	color:$primary-color;
	text-decoration: none;
	@include transition (all 0.2s ease-in-out);
}
button {
	@include transition (all 0.2s ease-in-out);
}