
.video-promo {
	background: #eee;
	padding: em(50) 0;
	overflow: hidden;
	@media screen and (min-width: 600px) {
		padding: em(150) 0;
	}
	.label {
		text-align: center;
			h2 {
				color: $secondary-color;
				font-size: em(30);
				font-weight: 100;
				font-family: $body-font;
				margin-bottom: em(5);
			}
			h3 {
				color: $grey;
				font-family: $fancy-font;
				font-weight: normal;
				margin: em(5) 0 em(20) 0;
			}
			p {
				color: #888;
				line-height: 2;
			}
		@media screen and (min-width: 880px) {
			@include span-columns(6);
			text-align: left;
			h2 {
				font-size: em(45);
				font-family: $body-font;
				margin-top: 0;
			}
			h3 {
				color: $grey;
				font-family: $fancy-font;
				font-weight: normal;
				margin: em(5) 0 em(20) 0;
			}
		}
	}
	.watch-video {
		a.video-link {
			padding: 0 0 em(30) 0;
			text-align: center;
			display: block;
			img {
				border: 5px solid #fff;
				border-radius: 4px;
				@include transition (all 0.2s ease-in-out);
			}
			&:hover {
				img {
					 border-color: $primary-color;
				}
			}
		}
		@media screen and (min-width: 880px) {
			@include span-columns(6);
			a.video-link {
				display: inline-block;
				padding: 0;
				.video-btn-text {
					font-size: em(30);
					vertical-align: middle;
					padding-left: em(15);
					font-weight: 100;
				}
			}
			&:hover {
				.play-btn {
					background: $primary-color;
					color: #333;
				}
			}
		}
	}
}

